


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <form method="post">
            <table>
                <tr>
                    <td>Catagory Name</td>
                    <td><input type="text" name="CatagoriesName" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="Create"/></td>
                </tr>
            </table>

        </form>
    </div>
</body>
</html>
