@model WebApplication2.Models.Person


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>


    </title>
</head>
<body>

    <h1>@Model.Name</h1>
    <h2>@Model.Salary</h2>
    <a src="/About">About</a>
</body>
</html>